<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoAppAzureData.Properties.Settings.dbDeltaNov2023ConnectionString"
            connectionString="Data Source=srvdeltaperu.database.windows.net;Initial Catalog=dbDeltaNov2023;User ID=adminsql;Password=Pa$$w0rd8787"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>