@page
@model WebCoreApp.Pages.Products.IndexModel
@{
}

<h1>Catalogo Productos</h1>
<form method="post">
    <table class="table">
        
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            
        
    </table>
</form>
