@page
@model IndexModel
@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al mejor hospital del Ecuador</h1>
    <img src="https://luftcomsa.com/wp-content/uploads/2021/03/Portada-HMetro-2-300x300.jpg" />
</div>
