@{
    ViewData["Title"] = "Home Page";
    DateTime date = DateTime.Now;
}


<div class="text-center">
    <h1 class="display-4">Bienvenido al mejor hospital del Ecuador</h1>
    <p>Fecha de hoy: <strong>@date</strong></p>
    <img src="https://luftcomsa.com/wp-content/uploads/2021/03/Portada-HMetro-2-300x300.jpg" />
</div>
