
@{
    ViewData["Title"] = "Index";
}

<p>Cliente Web Site </p>

<p>Bienvenido @ViewData["NombreCliente"]</p>
 
<table border="1" >
    @for (int i = 0; i < (int)@ViewData["Indicador"]!; i++)
    {
        <tr>
            <td>@ViewData["NombreCliente"]</td>
        </tr>
        
    }
</table>